# Test results

You can view all your test results and take action on them in one place.

1. Go to `Testing` > `Test results`
   <figure><img width="818" alt="Test results" src="../.gitbook/assets/Test results.png"></figure>

2. Use `Scheduled tests` section to find daily scheduled tests. All the past test runs are in the `Previous tests` section. 

3. To see all test runs in a category, click on the heading `All tests`
   <figure><img width="1016" alt="See all test runs" src="../.gitbook/assets/See all test runs.png"></figure>


4. To see results for a particular test, select the test run name. 
   <figure><img width="1228" alt="Test failures over time" src="../.gitbook/assets/Test failures over time.png"></figure>


5. You can see a list of all test failures with respective `Severity` marked. 
   <figure><img width="877" alt="Test failures" src="../.gitbook/assets/Test failures.png"></figure>


6. Click on any entry to know the issue description
   <figure><img width="976" alt="Description" src="../.gitbook/assets/Description.png"></figure>


7. Select the `Original` tab to know what was the original request. You can click on the `Copy` icon on the top right to copy it as a `curl` or `Burp` request.
   <figure><img width="986" alt="Original" src="../.gitbook/assets/Original.png"></figure>


8. Select the `Attempt` tab to see what malicious payload(s) Akto sent to find out the vulnerability. Copy button is available here as well. You might want to try it on your own or send it to your dev team.
   <figure><img width="988" alt="Attempt" src="../.gitbook/assets/Attempt.png"></figure>

