# Test results

You can view all your test results and take action on them in one place.

1. Go to testing > Test results
2. Click on any previously run test results.
3. You will be able to see all test results here with detailed description of the issue.
