# Export test results

Head over to particular test result and you can download the results from top right button as you can see below.

<figure><img src="../../.gitbook/assets/image (79).png" alt=""><figcaption></figcaption></figure>
